.modal h5{
	color: #fff;
}

.alert-link{
	text-decoration: none !important;
	color:#00bc8c !important;
}

.alert-link:hover{
    color: #F39C12 !important;
}

.alert-success {
    background-color: #00bc8c !important;
}

.alert-danger {
    background-color: #d9534f !important
}