.site-header {
  background-color: rgba(43, 62, 80, .55);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header span {
	cursor: pointer;
  transition: ease-in-out color .5s;
}
.site-header span:hover {
  /*color: #00bc8c; #DF691A*/
  text-decoration: none;
}


.carousel-cell:hover {
	font-weight: bold;
  color: #8CF;
  border-bottom: 2px solid #8CF;
}

.carousel-cell:active,
.carousel-cell.is-checked {
	font-weight: bold;
  color: #20c997;
  border-bottom: 2px solid #20c997;
}




